* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 12px;
	font-family: arial;
}

#directory {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

ul.tree-map {
	list-style: none;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid #ddd;
	padding:5px;
	height:400px;
}
div#dtop {
	overflow: hidden;	
}
div#dtop input[type='text'] {
	padding:4px;
	border:1px solid #ccc;
	margin-top: 10px;
	background: #f0f0f0;
}
div#dtop a {
	float:right;
	width:48px;
	height:48px;
	margin-right: 20px;
}
a.cFolder {
	background: url("../img/icons/create_folder.png") no-repeat scroll 0 0 transparent;	
	
}
a.uFile {
	background: url("../img/icons/upload_file.png") no-repeat scroll 0 0 transparent;	
}
a.dFile {
	background: url("../img/icons/download.png") no-repeat scroll 0 0 transparent;	
}
a.bFolder {
	background: url("../img/icons/back_folder.png") no-repeat scroll 0 0 transparent;
	margin-top: 5px;
}
span.edit-folder {
	display: none;	
	background: url("../img/icons/edit_small.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	position: absolute;
	right:14px;
	top:5px;
	cursor: pointer;
}
span.remove-folder {
	display: none;	
	background: url("../img/icons/trash_small.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	position: absolute;
	left:7px;
	top:5px;
	cursor: pointer;
}

ul.tree-map li {
	float: left;
}

ul.tree-map li a {
	display: block;
	width: 90px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	color: #888;
	height:110px;
}

a.dback {
	text-decoration: none;
	color: #888;
}

span.dname {
	display: block;
	text-align: center;
	width:80px;
	word-wrap:break-word;
}

ul.tree-map li img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul.tree-map li a:hover {
	background: #f0f0f0;
}

h3 {
	overflow: hidden;
	margin-bottom: 5px;
}

h3 span {
	float: left;
}

a.dback {
	float:right;
	margin-right: 37px;	
}
a.dback:hover {
	color:green;	
}
li.lifolder {
	position: relative;
}
li.lifolder:hover span.edit-folder,li.lifolder:hover span.remove-folder {
	display: block;
}

a.dimg {
	height:86px;	
}
.selectedImg {
	background: #ceeeff;	
}
#btn-manager {
	float:right;
	padding-right: 50px;
	padding-top: 20px;	
}
#btn-manager input {
	background: #1693a5;
	color:#fff;
	border:#1693a5;
	padding:5px;	
}