*
{
	padding:0px;
	margin:0px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 140%;
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
	color:#000;	
}
ul,ol
{
	list-style:none;
}
div#wrapper {
	margin: 0 auto;
    padding: 0;
    width: 960px;	
}

/*======================== Header ====================== */
div#header {
	margin-top: 10px;
    z-index: 5;	
    overflow: hidden;
}
a.logo {
	float:left;
	width:124px;
}
ul.top-nav {
	background: rgba(0, 0, 0, 0) url("/img/users/bg_menu.gif") no-repeat scroll right center;
	float:right;
	width:823px;
	height:33px;
	z-index:3;	
}
ul.top-nav li {
	background: transparent url("/img/users/bg_menu_line.gif") no-repeat scroll right top;
    float: left;
    position: relative;
}
ul.top-nav li a {
	color: #ffffff;
    display: block;
    font-size: 13px;
    margin-right: 2px;
    padding: 8px 9px;
    text-decoration: none;	
}
li.li-search {
	background:none !important;
	padding-top: 6px;
	padding-left: 8px;	
}
input#keyword {
	background-color: #ffffff;
    border: 1px solid #e2e3ea;
    font-family: inherit;
    font-size: 12px;
    padding: 2px 0 1px 5px;
    width: 85px;	
}
input#search {
	background: transparent url("../img/users/btn_search1.gif") no-repeat scroll left top;
    border: medium none;
    cursor: pointer;
    height: 21px;
    line-height: 0;
    margin-left: 3px;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: top;
    width: 21px;	
}

/*======================== Slider ====================== */
div#slide {
	width:100%;
	padding:10px 10px;	
}

/*======================== Main ====================== */
div#main {
	width:100%;
	overflow: hidden;
	margin-bottom: 10px;
}
div#left-col {
	width:218px;
	float:left;	
}
div.left-block {
	margin-bottom: 10px;	
}
div.left-block h3 {
	background: url("/img/users/bg_left_h3.jpg") repeat-x;
	height:40px;
	line-height:40px;
	position: relative;
	font-weight: 700;
    padding-left: 26px;
    text-transform: uppercase;
}
span.icon_red_arrow {
	display: block;
	background: url("/img/users/icon_red_arrow.jpg") no-repeat;
	width:12px;
	height:13px;
	position: absolute;
	top:14px;
	left:10px;
}
div.left-block ul {
	display: none;
}
div.left-block > ul {
	display: block;
}
div.left-block ul li {
	background: url("/img/users/bg_left_li.jpg") repeat-x;
	height:34px;
	position: relative;
}

div.left-block ul li:hover > ul {
	display: block;
	position: absolute;
	top:0px;
	left:219px;
	width:218px;
	z-index:9999;
}
div.left-block ul li a {
	display: block;
	background: url("/img/users/arrow_red.jpg") no-repeat 20px center;
	height:34px;
	line-height:34px;
	text-decoration: none;
	color:#000;
	padding-left: 30px;
}


div#right-col {
	float:right;
	width:730px;	
}

span.icon_red {
	display: block;
	background: url("/img/users/icon_red.jpg") no-repeat;
	width:12px;
	height:13px;
	position: absolute;
	top:8px;
	left:12px;
}

div.block {
	float:left;
	width:177px;
	height:auto;
	margin-right: 4px;
	margin-top: 4px;
	border:1px solid #ddd;
	border-top:none;
}
div.block h4 {
	background: url("/img/users/bg_left_h3.jpg") repeat-x;
	height:40px;
	line-height:40px;
	position: relative;
	font-weight: 700;
    padding-left: 6px;
    text-transform: uppercase;	
}
div.block-img {
	height:180px;
	
}
div.price {
	background: #f0f0f0;
	padding:6px 5px;
	overflow: hidden;
	position: relative;
}
span.price-num {
	font-weight: 700;
	float:left;
	padding-top: 5px;
}
button#addToCart {
	background: #cb0000;
	border:1px solid #cb0000;
	color:#fff;
	border-radius:4px;
	padding:2px;
	cursor: pointer;
	position: absolute;
	right:5px;
	top:5px;
}
button#addToCart:active {
	top:6px;
	background: #b70000;
}
.no-margin-right {
	margin-right: 0px !important;	
}
/*======================== Footer ====================== */
div#footer {
	overflow: hidden;
	width:100%
}
.black-head {
	background: url("/img/users/bg_right_h3.jpg") repeat-x;
	height:30px;
	color:#fff;
	font-weight:700;
	text-transform: uppercase;
	line-height: 30px;
	padding-left: 22px;
	position: relative;
	border-radius:4px;
}

ul#bot-nav {
	border:2px solid #d2d2d2;
	overflow: hidden;
	 margin: 0 0 8px;
}
ul#bot-nav > li {
	float:left;	
	width: 125px;
	border-right:1px solid #d2d2d2;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
ul#bot-nav > li > a {
	color: #cc0000;
    font-weight: bold;
    text-transform: uppercase;
    
}

ul#bot-nav li ul li {
    background: rgba(0, 0, 0, 0) url("/img/users/icon_arrow1.gif") no-repeat scroll left 10px;
    border-top: 1px dotted #e5e5e5;
    margin: 0;
    padding: 6px 0 6px 5px;
}

.no-border {
	border:none !important;	
}

p.copyright {
	width:100%;
	height:40px;
	line-height:40px;
	border-top:1px solid #d2d2d2;
	text-align: center;	
}
